* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colors used:
donkergrijs #222
oranje #f77000
blauw #005cbc
*/

/* Google fonts */

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Algemene settings */


html {
    font-size: 16px;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222;
}

#main {
    text-align: center;
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

h2 {
    color: #f77000;
    font-size: 2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #4c4c4c;
}

h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 8px 0;
}

p {
    color: #222;
}

a {
    font-weight: 300;
    text-decoration: none;
    transition: color 100ms ease-in;
}

a:visited, a:link {
    color: #222;
}

a:hover, a:active {
    color: #f77000;
}

.supportimg {
    width: 60%;
    height: 100%;
    margin: 32px 24px;
}


/* header met logo en navigatie */

header {
    display: inline-block;
    background-color: #fff;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 5;
}

.logo {
    padding: 0;
    height: 32px;
    margin-left: 24px;
    margin-top: 16px;
}

nav {
    display: inline-block;
    float: right;
    padding: 20px 24px 0 0;
}

.linkitem {
    padding-left: 16px;
}

#nav-mob {
    display: none;
}

#nav-mob .icon {
    height: 32px;
}


/* Banner */

#banner {
    display: flex;
    background-color: #e5e5e5;
    width: 100%;
    padding-top: 64px;
}

.info-left, .banner-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
    text-align: left;
}

.bannertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 40%;
    padding: 0 80px 0 16px;
}

.bannertext h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    color: #f77000;
    padding-bottom: 1.25rem;
}

.bannertext p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4c4c4c;
    line-height: 2.25rem;
    padding-bottom: 1.25rem;
}

.bannertext .button {
    display: block;
    width: 300px;
    color: #f77000;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    border: 2px solid #f77000;
    border-radius: 3px;
    padding: 8px 0;
}

.button:hover {
    color: #fff;
    background-color: #f77000;
}





/* Information */

#information {
    display: flex;
    width: 100%;
    padding-bottom: 32px;
}

.info-left img, .banner-left img {
    width: 100%;
}

.info-left h2 {
    padding: 32px 40px 24px 0;
}

.info-left p, .thesis-left p {
    font-weight: 300;
    padding-right: 40px;
    line-height: 1.5rem;
}

.writer {
    font-weight: 500;
    font-size: 0.75rem;

}

.blogs {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 32px 0 0 16px;
}

.blogitem {
    display: flex;
    border-top: 1px solid #cccccc;
    padding: 16px;
}

.blogitem:hover {
    background-color: #f77000;
}

.blogitem:last-child {
    border-bottom: 1px solid #cccccc;
}

.blogitem img {
    width: 35%;
    height: auto;
    padding: 0;
    margin-right: 16px;
}

.mobile-img {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    text-align: left;
    padding-right: 24px;
}

.blogitem h3 {
    text-align: left;
    padding-bottom: 0.25rem;
}

.blogitem p {
    text-align: left;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.blogitem a {
    display: inline-block;
    padding-top: 0.5rem;
    text-align: left;
    font-size: 0.875rem;
    font-weight: 500;
}

.blogitem a:visited, .blogitem a:link {
    color: #005cbc;
}

.blogitem a:hover, .blogitem a:active {
    color: #fff;
}




/* Courses */

#courses {
    padding: 0 72px 32px 72px;
    background-color: #e5e5e5;
}

.courses-head {
    width: 100%;
    padding: 32px 24px;
}

.courses-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 32px;
}

.course-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 375px;
}

.course-item img {
    width: 100%;
    height: auto;
}

.course-description {
    text-align: left;
    padding: 16px 16px 24px 16px;
    overflow: hidden;
}

.course-description h3 {
    padding-bottom: 8px;
}

.course-description p {
    font-weight: 300;
    line-height: 1.5rem;
}

/* Thesis */

#thesis {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 32px;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
}

.thesis-head {
    width: 100%;
    padding: 32px 24px;
}

.thesis-content {
    display: flex;
    width: 100%;
}

.thesis-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px 24px;
    text-align: left;
}

.thesis-left video {
    width: 100%;
    height: auto;
}

.thesis-left h3 {
    padding: 24px 0 8px 0;
}

.thesis-right {
    padding-top: 0;
}

/* Footer */

footer {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    padding: 16px 24px 48px 24px;
}

.copyright {
    float: left;
    font-weight: 300;
    font-size: 0.75rem; 
}

.footer-links {
    float: right;
}

.footer-links a {
    font-size: 0.75rem;
    padding-left: 16px;
}



/* Mobile */

@media only screen and (max-width: 800px) {

    /* Navigatie mobile */

    #nav-mob {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 64px;
        background-color: #fff
    }

    header {
        padding: 0 24px;
    }

    .logo, header nav {
        display: none;
    }

    /* Banner mobile */
    
    #banner {
        flex-direction: column;
    }

    .banner-left {
        margin: 0;
        width: 100%;
    }
    
    .bannertext {
        width: 100%;
        padding: 32px 16px;
    }

    .bannertext h1 {
        font-size: 2.5rem;
        padding-bottom: 32px;
    }

    .bannertext p {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .bannertext .button {
        width: 100%;
    }

    /* Information mobile */

    #information {
        padding: 0;
    }
    
    .info-left {
        display: none;
    }

    .blogs {
        width: 100%;
        padding: 0 16px;
    }

    .content {
        width: 100%;
    }

    .blogitem {
        flex-direction: column;
        padding: 16px 0;
    }

    .blogitem:first-child {
        border: 0;
    }

    .blogitem .mobile-img {
        display: block;
        width: 100%;
        padding-bottom: 16px;
    }

    .blogitem img {
        display: none;
    }

    .blogitem:hover {
        background-color: #fff;
    }

    .blogitem a:hover, .blogitem a:active {
        color: #f77000;
    }

    /* Courses mobile */

    #courses {
        background-color: #fff;
        padding: 32px 16px;
    }

    .courses-grid {
        display: block;
    }

    .course-item {
        display: inline-block;
        width: 100%;
        height: 64px;
        background-color: #cccccc;
        border-radius: 10px;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .course-item img, .course-description h4, .course-description p {
        display: none;
    }

    .course-description {
        padding: 0;
    }

    /* Thesis mobile */

    #thesis {
        padding-bottom: 24px;
        border-bottom: 0;
    }

    .thesis-left {
        width: 100%;
        margin: 0;
    }

    .thesis-left h3, .thesis-left p, .thesis-right {
        display: none;
    }

    footer {
        padding: 16px;
    }

    .footer-links {
        display: none;
    }

}